{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="px-4 py-32 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-20 lg:px-0 lg:pt-32">

    <div class="flex flex-col">
      <div class="mb-6 lg:mb-0 lg:pr-5">
        <p aria-label="" class="inline-flex items-center font-bold text-indigo-500">The problem.</p>

        <h2 class="sm:mb-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl sm:leading-none">
          The gig economy is exploding...<br class="hidden md:block" />
          but development remains slow and expensive.
        </h2>
      </div>
      <div class="">
        <p class="text-base text-gray-700">
          The gig economy is exploding at an unprecedented rate with almost 1 in 3 US workers participating in the gig workforce. There's no end in sight for this booming industry and, as a result, there are countless opportunities for businesses of all sizes. However, developement of gig solutions are slow and expensive turning away many businesses from participating.
        </p>
      </div>
    </div>
  </div>
  <section class="text-gray-600 body-font">
    <div class="container px-5 pb-24 mx-auto">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-bold sm:text-4xl text-3xl text-gray-900">455b</h2>
          <p class="leading-relaxed">expected gig economy in 2023.</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-bold sm:text-4xl text-3xl text-gray-900">59m</h2>
          <p class="leading-relaxed">of US workers freelance</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-bold sm:text-4xl text-3xl text-gray-900">17%</h2>
          <p class="leading-relaxed">gig economy growth by 2023</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-bold text-red-500 sm:text-4xl text-3xl text-gray-900">9+ months</h2>
          <p class="leading-relaxed">time to develop a complex app</p>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-[url('https://i.imgur.com/sEEzBe3.png')] bg-cover bg-no-repeat py-20 px-4 mx-auto">

    <div class="flex flex-col">
      <div class="lg:mb-0 lg:pr-5">

        <h2 class="sm:mb-5 sm:px-14 text-2xl font-bold text-white tracking-tight sm:text-5xl sm:leading-none">
          We developed an approach centered around Stripe Connect that solves this problem.
        </h2>
      </div>
    </div>
  </div>

  <div class="px-4 pt-16 pb-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-0 lg:pt-20">
    <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-none">
            Stripe Connect: out-of-the-box gig infrastructure, built to scale.
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Stripe is a leader in online payment processing infrastucture, enabling us to build gig solutions in a fraction of the time typically needed.
          </p>
        </div>
        <div class="grid gap-8 flex row-gap-8 sm:grid-cols-2">
          <div>
            <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-indigo-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
              </svg>
              
            </div>
            <h6 class="mb-2 font-semibold leading-5">
              $640 billion in payments were proccessed by Stripe in 2021.
            </h6>
          </div>
          <div>
            <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-indigo-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
              </svg>
              
            </div>
            <h6 class="mb-2 font-semibold leading-5">
              3.1 million websites use Stripe for their payment infrastructure.
            </h6>

          </div>
          
        </div>
        <a class="text-indigo-500 pt-5 font-bold inline-flex items-center">Learn more about Stripe Connect
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div>
        <img class="object-cover w-full h-56 rounded-2xl shadow-lg sm:h-96" src="https://i.imgur.com/YEjbXSm.png" alt="" />
      </div>
    </div>
  </div>

  <div class="bg-white my-5 lg:py-2 mb-20">
    <div class="m-auto px-6 sm:px-20 text-gray-500">
        <div class="items-center gap-12 lg:flex">
            <div class=" lg:w-2/6">
                <h5 class="sm:text-2xl text-center sm:text-left mb-3 sm:mb-0 text-indigo-500 font-bold">Stripe Connect is used by:</h5>
            </div>
            <div class="py-3 lg:mt-0 lg:w-4/6">
                <div class="ml-14 sm:m-0 flex flex-wrap md:justify-between gap-6 lg:gap-2">
                    <div class="flex items-center pr-3 sm:border-0  lg:p-4">
                        <img src="https://assets.stickpng.com/thumbs/5e8ce484664eae0004085467.png" class="w-14 sm:w-24" alt="">
                    </div>

                    <div class="flex items-center  lg:p-4">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Shopify_logo_2018.svg/2560px-Shopify_logo_2018.svg.png" class="w-16 sm:w-36" alt="">
                  </div>

                    <div class="flex items-center sm:m-0 sm:border-0 lg:p-4">
                        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c525.png" class="w-14 lg:w-16" alt="">
                    </div>

                    

                    
                    

                    <div class="flex items-center mx-8 sm:m-0 lg:p-4">
                        <img src="https://assets.stickpng.com/images/6021953142adc50004f0aa73.png" class="w-16 sm:w-36" alt="">
                    </div>

                    <div class="flex items-center sm:m-0 lg:p-4">
                        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968762.png" class="w-14 sm:w-24" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 pb-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-0">
  <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
    <div>
      <img class="object-cover bg-indigo-300 w-full h-56 rounded-2xl shadow-lg sm:h-96" src="https://i.imgur.com/BwYFEBp.png" alt="" />
    </div>
    <div class="flex flex-col justify-center">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-6 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-none">
          No-code, low-code, or code, </br>we use what's best for you!
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          We think that the no-code movement is there to stay. That's why we aren't afraid to implement Bubble.io's technology into our development process. However, we understand that sometimes this approach isn't the best for certain solutions. So, we're proud to say we can handle no-code, low-code, and code solutions depending on what's best for you!
        </p>
      </div>
      <div class="grid gap-8 flex row-gap-8 sm:grid-cols-2">
        <div>
          <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-indigo-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
            
            
          </div>
          <h6 class="mb-2 font-semibold leading-5">
            5x development speed with no/low-code solutions.
          </h6>
        </div>
        <div>
          <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-indigo-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
            </svg>
            
            
          </div>
          <h6 class="mb-2 font-semibold leading-5">
            Integrate with and build out existing systems.
          </h6>

        </div>
        
      </div>
    </div>

  </div>
</div>



<section>
  <div class="container px-5 pt-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-2xl font-bold title-font mb-4 text-gray-900">Our straightforward process.</h1>
    </div>
  </div>
</section>

{% include 'timeline.html'%}
<div class="bg-indigo-500 py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="max-w-xl flex flex-col items-center text-center mx-auto">

      <h1 class="text-white text-3xl sm:text-3xl md:text-3xl font-bold mb-8 md:mb-12">Ready to get started?</h1>

      <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
        <a href="{% url 'contact'%}" class="inline-block bg-white border border-indigo-500 border-2  hover:bg-indigo-500 hover:border-white hover:border-2 hover:text-white active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-indigo-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Talk to us!</a>
      </div>
    </div>
  </div>
</div>                    




                                


                                


{% endblock %}