{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="px-5 mx-auto sm:max-w-xl md:max-w-full md:px-20 lg:pt-32" style="background-image:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg)">


<div class="min-h-screen flex flex-col justify-center items-center py-4">


    <h1 class="text-2xl font-bold sm:pb-5 pt-20 sm:pt-0">Plan, build, launch your SaaS in 3-6 months</h1>
    <!-- YouTube Iframe -->
    <div class="hidden sm:block">
        <iframe width="750" height="400" src="https://www.youtube.com/embed/6cigV_mju-w?si=7SvuACg-sEYnKKHL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>

    
        <div class="sm:hidden pt-5">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/6cigV_mju-w?si=7SvuACg-sEYnKKHL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
    
        <!-- Action Button -->
    <a href="https://calendly.com/tjsaas/tj-1-on-1-clone?month=2023-09" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        Schedule a Meeting
    </a>
   


    <section>
      <div class="flex flex-col pt-20 mx-auto">
        <div class="mb-6 lg:mb-0 lg:pr-5 text-center">
            <p aria-label="" class="inline-flex font-bold text-indigo-500">Our Approach</p>
    
            <h2 class="sm:mb-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl sm:leading-none">
                Pre-Production Planning & Documentation
            </h2>
        </div>
        <div class="">
            <p class="text-base text-gray-700 text-left">
                Before writing a single line of code, we make sure all due diligence is done, plans are made, and technical documentation is approved. This way both the founder(s) and development team are on the same page from the start.
            </p>
    
            <p class="text-base text-gray-700 text-left mt-2">
                Here's a deeper look at just some of the planning documents we create for our clients. For the sake of confidentiality, we'll use <b>The ABC Company</b>, a fictional company that wants to build an online coffee marketplace as an example. 
            </p>
    
            <div class="my-4">
                <h2 class="text-xl font-bold tracking-tight mb-1 text-gray-900 sm:text-2xl sm:leading-none">
                    Technical Requirements Document
                </h2>
                <p>Our technical requirements document outlines the specific functionalities and features the product must have. For "The ABC Company", this could involve user registration, product listings, and a checkout process. This document serves as a guidepost ensuring all necessary components are implemented.</p>
            </div>
    
            <div class="my-4">
                <h2 class="text-xl font-bold tracking-tight mb-1 text-gray-900 sm:text-2xl sm:leading-none">
                    Third-Party APIs Specification Document
                </h2>
                <p>For products that rely on external tools or platforms, the Third-Party APIs Specification document lists all APIs that will be integrated. For our coffee marketplace example, this could include payment gateways, shipping calculators, or customer review systems. It ensures smooth interfacing with external solutions.</p>
            </div>
    
            <div class="my-4">
                <h2 class="text-xl font-bold tracking-tight mb-1 text-gray-900 sm:text-2xl sm:leading-none">
                    Database Model & Schema
                </h2>
                <p>Our database model and schema layout the structure of the database, including tables, relationships, and key data points. For "The ABC Company", this would involve tables for users, products, orders, and reviews. It's vital for ensuring data integrity and efficient querying.</p>
            </div>
    
            <div class="my-4">
                <h2 class="text-xl font-bold tracking-tight mb-1 text-gray-900 sm:text-2xl sm:leading-none">
                    Sprint Planning & Ticket Creation
                </h2>
                <p>Sprint planning and ticket creation involve breaking down tasks into manageable units, prioritizing them, and assigning them to development sprints. For our coffee marketplace, this could start with setting up the backend, then focusing on frontend features. It ensures systematic and timely project progress.</p>
            </div>
            <div style="margin: 0 auto;display: flex; justify-content: center;align-items: center;">
              <a href="https://incognitobucket.s3.us-west-2.amazonaws.com/Example+Deliverables.zip" class="mt-4 bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded-full">
                  Download Example Deliverables
              </a>  
            </div>
            
        </div>
    </div>
    
      </div>
      
        <div class="flex flex-col pt-20 mx-auto text-center">
            <div class="mb-6 lg:mb-0 lg:pr-5">
              <p aria-label="" class="inline-flex font-bold text-indigo-500">Case Studies</p>
        
              <h2 class="sm:mb-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl sm:leading-none">
                Our Work
              </h2>
            </div>
            <div class="">
              <p class="text-base text-gray-700">
                We've built a wide range of solutions for clients in various industries. Check out some of our work below!
              </p>
            </div>
          </div>
        </div>
      <div class="px-5 sm:px-20 mx-auto">
    
    
          <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-2">
              {% for object in casestudies %}
              <div>
                  <img class="relative z-10 object-cover w-full rounded-md h-96" src="{{ object.image }}" alt="">
    
                  <div class="relative z-20 max-w-lg p-6 mx-auto -mt-20 rounded-md bg-gray-100 shadow">
                      <p class="font-semibold md:text-xl">
                          {{ object.title }}
                      </p>
                      <p class="mb-5 text-sm text-gray-500">{{ object.description }}</p>
    
    
                      <a href="{% url 'casedetail' object.slug %}" class="text-white bg-gradient-to-r from-indigo-400 via-indigo-500 to-indigo-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 focus:ring-green-800 shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-1 text-center">Read Case Study</a>
    
    
                  </div>
              </div>
              {% endfor %}
    
          </div>
      </div>
    </section>
</div>


<div class="bg-indigo-500 py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="max-w-xl flex flex-col items-center text-center mx-auto">

      <h1 class="text-white text-3xl sm:text-3xl md:text-3xl font-bold mb-8 md:mb-12">Ready to get started?</h1>

      <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
        <a href="{% url 'contact'%}" class="inline-block bg-white border border-indigo-500 border-2  hover:bg-indigo-500 hover:border-white hover:border-2 hover:text-white active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-indigo-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Talk to us!</a>
      </div>
    </div>
  </div>
</div>  

</div>
{% endblock %}