{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="px-5 sm:px-20 pt-20 2xl:container min-h-screen">

    <!-- Header -->
    <div class="mb-8 flex justify-between items-center">
        <h1 class="text-3xl text-indigo-500 font-bold">Dashboard</h1>
    </div>

    <!-- Tasks -->
    <div class="grid gap-6 mb-8 md:grid-cols-2">
        {% for task in tasks %}
        <div class="p-6 border bg-indigo-500 rounded-xl shadow-md hover:shadow-lg transition border-l-4 border-blue-500">
            <h5 class="text-xl text-white mb-4 font-semibold">
                {% if task.position == 0 %}Currently Working On:
                {% else %}Next up 
                {% endif %}
            </h5>
            <h1 class="text-2xl font-semibold text-white mb-4">{{ task.title }}</h1>
            <h2 class="text-lg font-medium text-white mb-2">Current Progress</h2>
            <p class="text-gray-200">{{ task.description }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Deliverables -->
    <div class="mb-8">
        <h2 class="text-2xl text-indigo-500 font-medium mb-4">Deliverables</h2>
        {% for deliverable in deliverables %}
        <div class="bg-white p-6 mb-4 rounded-xl shadow-md hover:shadow-lg transition border-l-4 border-blue-400">
            <h3 class="text-xl font-medium text-gray-800 mb-2">{{ deliverable.title }}</h3>
            <a href="{{ deliverable.link }}" class="text-gray-600">{{ deliverable.link }}</a>
        </div>
        {% endfor %}
    </div>

    <!-- Inbox & Messages -->
    <div class="mb-8">
        <h2 class="text-2xl text-indigo-500 font-medium mb-4">Inbox</h2>
        {% for message in messages %}
        <div class="bg-white p-6 mb-4 rounded-xl shadow-md hover:shadow-lg transition border-l-4 border-blue-300">
            <h3 class="text-xl font-medium text-gray-800 mb-2">{{ message.day|date:"M d, Y" }}</h3>
            <p class="text-gray-600">{{ message.description }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Invoices -->
    <div class="mb-8">
        <h2 class="text-2xl text-indigo-500 font-medium mb-4">Invoices</h2>
        {% for invoice in invoices %}
        <div class="bg-white p-6 mb-4 rounded-xl shadow-md hover:shadow-lg transition border-l-4 border-blue-200">
            <h3 class="text-xl font-medium text-gray-800 mb-2">{{ invoice.day|date:"M d, Y" }}</h3>
            <a href="{{ invoice.link }}" class="text-indigo-500 hover:underline">Payment Link</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
