{% extends 'base.html' %}

{% block content %}

{% load static %}

<div>
    <div class="h-full bg-fit bg-opacity-5 bg-center px-8 mx-auto xl:px-0" style="background-image:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg)">
        <div class="md:flex md:gap-12 pt-32 sm:px-20 lg:py-48">
             <div class="md:w-6/12">



                 <h1 class="text-black font-bold text-5xl"> Modern Solutions, <br> <span class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-pink-500">Built to Scale.</span></h1>
                 
                 <p class="mt-8  text-xl text-black">Providing dynammic and scalable technical solutions to businesses of all sizes.</p>
                 <div class="mt-10">
                    <button type="button" class=" animate__animated animate__swing animate__delay-2s w-full mb-2 sm:mb-0 mr-3 py-3 px-6 border border-2 border-indigo-500 text-center rounded-xl transition bg-indigo-500 shadow-xl hover:bg-indigo-600 sm:w-max">
                        <a href="{% url 'contact'%}" class="block text-white font-semibold">
                            Talk to us!
                        </a>
                    </button>
                    <button type="button" class="w-full py-3 px-6 text-center text-indigo-500 rounded-xl transition shadow-xl border border-indigo-500 border-2 hover:bg-indigo-500 hover:text-white hover:border-white sm:w-max">
                      <a href="{% url 'approach' %}" class="block font-semibold">
                          Check out our approach
                      </a>
                  </button>
                 </div>
                 <img class="h-14 mt-5 opacity-50 hidden sm:block" src="https://i.imgur.com/cvCZW1W.png" />
             </div>
             <div class="md:w-6/12 sm:shadow-xl  sm:-mt-10 mt-10 object-none object-center  relative rounded-2xl py-10 bg-indigo-500" style="background-image:linear-gradient(rgba(59, 130, 246, 0.85), rgb(219, 234, 254, .25)), url(https://i.imgur.com/Dg8vDV1.png); background-size: contain;">
             <img style="width:100%;
             display:block;
             position:absolute;
             left:0;
             right:0;
             margin:auto;" class="object-contain absolute z-10 sm:h-96 h-36 mx-auto" src="https://i.imgur.com/hvO75Hw.png" />
             <img class="object-contain z-0 animate-[spin_20s_linear_infinite] sm:h-96 h-36 mx-auto" src="https://i.imgur.com/qmG5isD.png" />
             </div>
         </div>
     </div>
 </div>

 <div class="bg-gray-50 lg:py-2">
    <div class="m-auto px-6 sm:px-20 text-gray-500">
        <div class="items-center gap-12 lg:flex">
            <div class="hidden sm:block lg:w-2/6">
                <h5 class="text-xl text-gray-300 font-bold">Our clients</h5>
            </div>
            <div class="py-3 lg:mt-0 lg:w-4/6">
                <div class="ml-7 sm:m-0 flex flex-wrap md:justify-between gap-6 lg:gap-2">
                    <div class="flex items-center pr-3 sm:border-0  lg:p-4">
                        <img src="https://i.imgur.com/HsWyeJ4.png" class="w-10 sm:w-16" alt="">
                    </div>
                    <div class="flex items-center sm:m-0 sm:border-0 lg:p-4">
                        <img src="https://i.imgur.com/ta0CYxh.png" class="w-32 lg:w-28" alt="">
                    </div>

                    <div class="flex items-center  lg:p-4">
                        <img src="https://i.imgur.com/6NpEhUC.png" class="w-16 sm:w-16" alt="">
                    </div>
                    
                    <div class="flex items-center mx-8 sm:m-0 lg:p-4">
                        <img src="https://i.imgur.com/BxP4vxc.png" class="w-16 sm:w-16" alt="">
                    </div>

                    <div class="flex items-center sm:m-0 lg:p-4">
                        <img src="https://i.imgur.com/SH5DBBs.png" class="w-32 sm:w-28" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-10 bg-[url('https://i.imgur.com/XGx9aZX.png')] bg-contain bg-opacity-1">
  <div class="m-auto space-y-16 px-6 md:px-20 text-gray-500">
    <div>
      <p class="mt-4 font-bold text-indigo-500 text-lg">
        Our Services
      </p>
      <h2 class="text-2xl font-bold text-gray-800 md:text-4xl">
        Battle-Tested Custom Software
      </h2>
    </div>
    <div class="md:-mx-8 mt-16 grid gap-8 lg:gap-0 sm:grid-cols-2 lg:grid-cols-3">
      <div class="group relative bg-white p-8 border-r border-b border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1197/1197409.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            Application Development
          </h3>
          <p class="text-gray-600">
            Need a mobile or web application developed? We use modern technology and versatile tech stacks to bring your vision to life!
          </p>
        </div>
      </div>
      <div class="group relative bg-white p-8 border-r border-b border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5126/5126190.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            Stripe Integration
          </h3>
          <p class="text-gray-600">
            Optimize and automate your payments with Stripe. We've partnered with Stripe to provide our clients with the standard in online payment processing.
          </p>
        </div>
      </div>

      <div class="group relative bg-white p-8 border-b border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5145/5145062.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            OpenAI Solutions
          </h3>
          <p class="text-gray-600">
            From automated copywriting to blog image generation, we can help automate your existing business operations using OpenAI.
          </p>
        </div>
      </div>

      <div class="group relative bg-white p-8 border-r border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5256/5256916.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            SaaS Infrastructure
          </h3>
          <p class="text-gray-600">
            Want to expand into the SaaS world? We provide consulting and infrastrcuture to assist in your SaaS journey!
          </p>
        </div>
      </div>

      <div class="group relative bg-white p-8 border-r border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2053/2053725.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            API Development
          </h3>
          <p class="text-gray-600">
            Need to build out an API or need assistance in integrating with one? Work with us to build out your system and create a robust and secure API.
          </p>
        </div>
      </div>
      <div class="group relative bg-white p-8 border-gray-100 hover:border-gray-100 shadow-2xl shadow-gray-600/10 lg:shadow-transparent lg:hover:shadow-gray-600/10 sm:gap-8 sm:flex transition duration-300">
        <div class="relative">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2979/2979941.png"
            class="w-10"
            width="512"
            height="512"
            alt="package-delivery illustration"
          />
          <h3 class="mt-8 mb-4 text-2xl font-semibold text-gray-800 transition ">
            Data Analysis
          </h3>
          <p class="text-gray-600">
            We can help you interpret and organize your data. Using artifical intellegence and modern solutions like Scale AI we help you get the most from your data.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="px-5 mx-auto sm:max-w-xl md:max-w-full md:px-20" style="background-image:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg)">

  <div class="flex flex-col">
    <div class="mb-6 lg:mb-0 lg:pr-5">
      <p aria-label="" class="inline-flex items-center font-bold text-indigo-500">Case Studies</p>

      <h2 class="sm:mb-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
        Our Work
      </h2>
    </div>
    <div class="">
      <p class="text-base text-gray-700">
        We've built a wide range of solutions for clients in various industries. Check out some of our work below!
      </p>
    </div>
  </div>
</div>
<section>
  <div class="px-5 sm:px-20 mx-auto">


      <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-3">
          {% for case in cases|slice:":3" %}
          <div>
              <img class="relative z-10 object-cover w-full rounded-xl h-72" src="{{ case.image }}" alt="">

              <div class="relative z-20 max-w-sm p-6 mx-auto -mt-20 rounded-xl bg-white shadow-lg">
                  <p class="font-semibold md:text-xl">
                      {{ case.title }}
                  </p>
                  <p class="mb-5 text-sm text-gray-500">{{ case.date|date}}</p>


                  <a href="{% url 'casedetail' case.slug %}" class="text-white bg-indigo-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 focus:ring-green-800 shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-1 text-center">Read Case Study</a>


              </div>
          </div>
          {% endfor %}

      </div>
  </div>
</section>
                                    



<div class="bg-white pb-10 sm:py-8 lg:pb-110">
  <div class=" px-5 md:px-20 mx-auto">
    <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
      <div>
        <div class="object-contain md:h-auto bg-gray-100 rounded-2xl shadow-lg my-5">
          <img src="https://i.imgur.com/IgiX3Ep.png" loading="lazy" class="w-full h-full rounded-2xl object-cover object-center" />
        </div>
        <div class="object-contain md:h-auto bg-gray-100 rounded-2xl shadow-lg">
          <img src="https://i.imgur.com/tuGaS8K.png" loading="lazy" class="w-full h-full rounded-2xl object-cover object-center" />
        </div>
      </div>

      <div class="md:pt-8">
        <p class="text-indigo-500 font-bold text-center md:text-left">Why Oprida?</p>

        <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6">Your partner for versatile and scalable technical solutions.</h1>

        <p class="text-gray-500 sm:text-lg mb-6 md:mb-5">
          Most technical solutions cost a pretty penny, run over budget, and take a while to develop. Not to mention, when a solution is developed, it's hard to maintain.

        </p>

        <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold text-center md:text-left mb-2 md:mb-4">Our solution.</h2>

        <p class="text-gray-500 sm:text-lg  md:mb-2">Partnering with modern systems and payment processors, we can provide low-cost scalable systems for companies of all sizes. We utilize no-code, code, and automated code to provide elegant systems to our clients.</p>
        <a href="{% url 'casestudies' %}" class="text-indigo-500 mb-8 mx-auto text-center font-bold inline-flex items-center">Check out our case studies
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<section class="bg-[url('https://i.imgur.com/YhqN1rB.png')] bg-cover">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class=" text-indigo-500 tracking-widest font-bold title-font mb-1">Optimize your business.</h2>
      <h1 class="sm:text-4xl text-2xl font-bold title-font mb-4 text-gray-900">Out of the box solutions, built to scale.</h1>
      <p class="lg:w-2/3 mx-auto text-lg leading-relaxed">Oprida's applications and solutions are implemented quickly and are built to scale, providing value in a low-cost and growth-oriented package for businesses of all sizes.</p>
      <a href="" class="text-indigo-500 pt-5 mx-auto text-center font-bold inline-flex items-center">Learn more about our approach
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="container px-5 pt-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-2xl font-bold title-font mb-4 text-gray-900">Our straightforward process.</h1>
    </div>
  </div>
</section>

{% include 'timeline.html'%}
<div class="bg-indigo-500 py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="max-w-xl flex flex-col items-center text-center mx-auto">

      <h1 class="text-white text-3xl sm:text-3xl md:text-3xl font-bold mb-8 md:mb-12">Ready to get started?</h1>

      <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
        <a href="{% url 'contact'%}" class="inline-block bg-white border border-indigo-500 border-2  hover:bg-indigo-500 hover:border-white hover:border-2 hover:text-white active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-indigo-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Talk to us!</a>
      </div>
    </div>
  </div>
</div>                    




                                


                                


{% endblock %}