
<ol class="items-center pb-20 sm:flex sm:px-20 px-5">
    <li class="relative w-96 mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8  shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-indigo-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>
                  
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5"></div>
        </div>
        <div class="mt-3 sm:pr-8">
            <h3 class="text-lg font-semibold text-gray-900 ">Discover</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 ">1 week</time>
            <p class="text-base font-normal text-gray-500 =">We work with you to understand your vision, businesses and goals to plan the optimal solution. Here we'll plan a project scope and deliver a proposal.</p>
        </div>
    </li>
    <li class="relative mb-6 w-96 sm:mb-0">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white  sm:ring-8  shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-indigo-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
                  </svg>
                              </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 "></div>
        </div>
        <div class="mt-3 sm:pr-8">
            <h3 class="text-lg font-semibold text-gray-900 ">Design</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 ">1 week</time>
            <p class="text-base font-normal text-gray-500 ">We get to work designing the solution UI, UX, and architecture. We'll present wireframes, user flows, and styles before the development of the solution.</p>
        </div>
    </li>
    <li class="relative mb-6 w-96 sm:mb-0">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8  shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-indigo-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                  </svg>
                              </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 "></div>
        </div>
        <div class="mt-3 sm:pr-8">
            <h3 class="text-lg font-semibold text-gray-900 ">Develop</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 ">2-4 weeks.</time>
            <p class="text-base font-normal text-gray-500 ">We'll utilize a sprint based development proccess to build your solution, checking in with you to ensure quality throughout the development period.</p>
        </div>
    </li>
    <li class="relative mb-6 w-96 sm:mb-0">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8  shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-indigo-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                  </svg>
                              </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 "></div>
        </div>
        <div class="mt-3 sm:pr-8">
            <h3 class="text-lg font-semibold text-gray-900">Deploy</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 ">1 week</time>
            <p class="text-base font-normal text-gray-500 ">Hooray! It's time to launch! We'll meet with you to make sure we met all your requirements and deploy the project with a post-implementation support plan.</p>
        </div>
    </li>
</ol>
